@use './partials/variables' as *;
@use './partials/siteHeader';
@use './partials/common';
@use './partials/siteMain';
@use './partials/siteFooter';

.hearts:hover {
    color: red;
}

.card:hover {
    .image1 {
        display: none;
    }

    .image2 {
        display: block;
    }
}