
.levis:hover{
    background-image: url(../img/1b.webp);
}
.guess:hover{
    background-image: url(../img/2b.webp);
}
.come:hover{
    background-image: url(../img/3b.webp);
}
.levis_2:hover{
    background-image: url(../img/4b.webp);
}
.maya:hover{
    background-image: url(../img/5b.webp);
}
.espirit:hover{
    background-image: url(../img/6b.webp);
}

.hearts:hover{
    color: red;
}