.padding-right{
    padding-right: 0.5rem;
    a{
        text-decoration: none;
        color: white;
    }

}

.padding-left{
    padding-left: 0.5rem;
    a{
        text-decoration: none;
        color: white;
    }
}